.navbar-brand {
  width: 132px;
  height: auto;
  fill: white;
}

.img-container a img {
  width: 100%;
}

.culture-travel div a img,
.featured-stories div a img, 
.survey div a img,
.sponsored div a img,
.latest-news div a img,
.magazine-section-top div a img,
.magazine-section-bottom div a img,
.editors-pick-section div a img,
.slideshow-section div a:first-child img,
.topics-section > div > div > a img {
  width: 100%;
}